@charset "UTF-8";

$main-color: #ff007f;
$background-color: #232323;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: white;
}

.space {
  width: 100vw;
  height: 100vh;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
  scroll-behavior: smooth;
}

header {
  background-color: lightblue;
  position: sticky;
  top: 0;
}

.container {
  border: 2px solid red;
  background-color: lightpink;
  width: 60%;
  margin: 0 auto;

  @media only screen and (max-width: 992px) {
    width: 100%;
  }
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 600px) {
    flex-flow: column wrap;
  }

  .nav-links {
    display: flex;
    list-style-type: none;
    margin: 1em;

    @media only screen and (max-width: 600px) {
      flex-flow: column wrap;
    }

    li {
      margin: 0.5em;
      color: $main-color;
    }

    a {
      text-decoration: none;
      color: $main-color;
      :visited {
        color: $main-color;
      }
      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

main {
  #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 113px);

    .my-name {
      font-size: 2em;
    }
    .job-title {
      font-size: 1.5em;
      color: $main-color;
    }
  }
}
