@import url("https://fonts.googleapis.com/css2?family=Freehand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: white;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: #232323;
  scroll-behavior: smooth;
}

.header {
  background-color: lightgreen;
  position: sticky;
  top: 0;
}

main #home {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 113px);
}
main #home .my-name {
  font-size: 2em;
}
main #home .job-position {
  font-size: 1.5em;
  color: #ff007f;
}
main #about {
  background-color: lightgray;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 113px);
}
main #about .picture-text {
  background-color: lightsalmon;
  margin-bottom: 20px;
}
main #about .picture-text .main-picture {
  width: 200px;
}
main #about .picture-text .text-about {
  position: relative;
}
main #about .picture-text .text-about .paper {
  width: 380px;
  height: 250px;
  transform: translate(170px, -105%);
}
main #about .picture-text .text-about .text {
  position: absolute;
  top: -95%;
  left: 35%;
  padding-left: 7%;
  padding-right: 7%;
  color: black;
  font-family: "Freehand", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
}
main #about .picture-trips {
  background-color: lightsalmon;
  margin-bottom: 20px;
}
main #about .second-picture {
  width: 250px;
  transform: rotate(-0.058turn);
}
main #about .third-picture {
  width: 250px;
  transform: rotate(0.058turn);
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  .centralize {
    width: 100%;
    margin: 0 auto;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar .nav-links {
    list-style-type: none;
    margin: 0.5rem;
  }
  .navbar .nav-links li {
    margin: 0.2rem;
    color: #ff007f;
  }
  .navbar .nav-links a {
    text-decoration: none;
    color: #ff007f;
  }
  .navbar .nav-links a :visited {
    color: #ff007f;
  }
}
/* TABLET */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .centralize {
    width: 100%;
    margin: 0 auto;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .log {
    flex-grow: 1;
  }
  .navbar .nav-links {
    display: flex;
    flex-grow: 4;
    justify-content: space-between;
    list-style-type: none;
    margin: 1rem;
  }
  .navbar .nav-links li {
    margin: 0.5rem;
    color: #ff007f;
  }
  .navbar .nav-links a {
    text-decoration: none;
    color: #ff007f;
  }
  .navbar .nav-links a :visited {
    color: #ff007f;
  }
}
/* DESKTOP */
@media only screen and (min-width: 901px) {
  .centralize {
    width: 60%;
    margin: 0 auto;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .nav-links {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 1.5em;
  }
  .navbar .nav-links li {
    margin: 1rem;
    color: #ff007f;
  }
  .navbar .nav-links a {
    text-decoration: none;
    color: #ff007f;
  }
  .navbar .nav-links a :visited {
    color: #ff007f;
  }
}

/*# sourceMappingURL=index.css.map */
